
.container{
  display: grid;
  grid-template-columns: 3fr 1fr;
  text-align: center;
  margin-top: 20px;
}
.ticket-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
 
  
}

